#projects {
  color: white;
}


.projects-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
  align-items: center;
  flex-wrap: wrap;
}

.projects-card {
  width: 200px;
  border: 0.5px solid white;
  margin: 30px;
  padding: 10px;
  min-height: 250px;
}


.projects-wrapper img {
  height: 150px;

}

#projects button {
  width: 100%;
  border: 0.5px solid white;
  color: white;
  padding: 5px;
  background: none;
  cursor: pointer;
}

#projects button:hover {
  color: black;
  padding: 5px;
  background: white;
  cursor: pointer;
}