form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section {
    padding: 10px;
    display: flex;
    max-width: 500px;
    width: 100%;
}

form span {
    margin-right: 10px;
    min-width: 100px;

}

button {
    width: 200px;
    margin: auto;
}

.form-section .input,
form button {
    background: none;
    border: 0.5px solid white;
    height: 25px;
    width: 315px;
    color: white;
    padding: 5px 10px;
}

#message-input {
    height: 160px;
}

form button {
    width: 100px;
    cursor: pointer;
}

form button:hover {
    width: 100px;
    color: black;
    background-color: white;
}

#contact .iconContainer {
    width: 100%;
    min-width: 300px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}