#about {
  color: white;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}


.aboutPageWrapper {
  display: flex;
  width: 70%;
  max-width: 1500px;
  z-index: 1;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.iconsWrapper,
.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.iconsWrapper>div {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.iconContainer>a>p {
  font-size: 16px;
  margin: 0;
  margin-right: 10px;
}

.iconContainer {
  display: flex;
}

.iconContainer .icon {
  font-size: 40px;
  color: white;
  display: flex;
}

.iconContainer a {
  display: flex;
  padding: 15px;
  align-items: center;
  border: 0.5px solid white;
  margin: 5px;
}

h1 {
  color: white;
  font-size: 58px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 1.4px;
  margin-bottom: 16px;
}



p {
  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  max-width: 440px;
}

.row p {
  margin-top: 2px;
  font-size: 15px;
}

img {
  padding-right: 0;
  width: 80%;
  height: 80%;
}

.iconsWrapper .icon {
  width: 50px;
  height: 40px;
  margin: 0 25px;
}

.row {
  display: flex;
  font-size: 35px;
}

.row>div {
  display: flex;
  flex-direction: column-reverse;
}


@media screen and (max-width: 800px) {

  .aboutPageWrapper,
  .iconContainer {
    flex-direction: column;
  }

  .iconsWrapper>div {
    margin: 40px 0px;
  }

  h1 {
    font-size: 32px;
  }
}