#about {
  color: white;
  background: black;
}

@media screen and (max-width: 760px) {
  #about {
    padding: 100px 0;
  }
}

.aboutPageWrapper {
  display: flex;
  z-index: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: auto;
}

.iconContainer .icon {
  font-size: 40px;
  color: white;
  display: flex;
}

.iconContainer a {
  display: flex;
  padding: 15px;
  align-items: center;
  border: 0.5px solid white;
  margin: 5px;
}


.iconContainer>a>p {
  font-size: 16px;
  margin: 0;
  margin-right: 10px;
}

.iconContainer {
  display: flex;
}

h1 {
  color: white;
  font-size: 58px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 1.4px;
  margin-bottom: 16px;
}


@media screen and (max-width: 480px) {
  h1 {
    font-size: 32px;
  }
}

p {
  color: white;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 35px;
  max-width: 440px;
}

.iconsWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
  border: 0.5px solid white;
  margin: 30px 100px;
  margin-top: 100px;
}

.textWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  padding-right: 0;
  width: 80%;
  height: 80%;
}

.iconsWrapper .icon {
  width: 50px;
  height: 40px;
  margin: 0 25px;
}

.row {
  display: flex;
  font-size: 35px;
}

.row>div {
  display: flex;
  flex-direction: column-reverse;
}